<h3>Editoras</h3>

<div class="row">
	<div class="col-md-4">
		<input class="form-control" type="text" ng-model="query" placeholder="Pesquisar"  autofocus>
	</div>
	<div class="col-md-8">
		<div class="text-right">
      <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">Cadastrar</button>
		</div>
	</div>
</div>

<br>
<table class="table table-hover">
	<tr>
		<td>Id</td>
		<td>Nome</td>
    <td>Telefone</td>
    <td>E-mail</td>
		<td>Ações</td>
	</tr>
	<tr ng-repeat="editora in editora.editoras | filter: query" >
		<td>{{editora.id}}</td>
		<td>
      <a href="" ng-click="editora.edit(editora.id)">{{editora.nome}}</a>
    </td>
    <td>{{editora.telefone}}</td>
    <td>{{editora.email}}</td>
		<td>
      <a href="" ng-click="editora.delete(editora.id, $index)">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
      </a>
    </td>
	</tr>
</table>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{editora.pageTitle}}</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-md-6">
            	<div class="form-group">
            		<input type="text" class="form-control" ng-model="editora.nome" placeholder="Nome" />
            	</div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" ng-model="editora.telefone" placeholder="Telefone" />
              </div>
            </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" ng-model="editora.email" ng-blur="editora.validation()" placeholder="Email" />
          </div>

          <div ng-if="vm.errors">
            <ul>
              <li ng-repeat="error in editora.errors">
                {{error}}
              </li>
            </ul>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" ng-click="editora.store()" class="btn btn-primary">Salvar</button>
      </div>
    </div>
  </div>
</div>

