
<div class="row">
	<div class="col-md-8">
		<div class="row text-center">
			<div class="col-md-4">
				<a href="#/livro"><img src="images/livros.png" width="100px" class="center-block img-rounded img-responsive">
				<h3>Livros</h3></a>
			</div>
			<div class="col-md-4">
				<a href="#/livro"><img src="images/livros.png" width="100px" class="center-block img-rounded img-responsive">
				<h3>Editoras</h3></a>
			</div>
			<div class="col-md-4">
				<a href="#/categoria"><img src="images/categorias.png" width="100px" class="center-block img-rounded img-responsive">
				<h3>Categorias</h3></a>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		
		<table class="table table-hover">
			<tr>
				<td>#</td>
				<td>Quant.</td>
			</tr>
			<tr>
				<td>Locações</td>
				<td>0</td>
			</tr>
			<tr>
				<td>Alunos</td>
				<td>0</td>
			</tr>
			<tr>
				<td>Livros</td>
				<td>0</td>
			</tr>
			<tr>
				<td>Categorias</td>
				<td>0</td>
			</tr>
			<tr>
				<td>Editoras</td>
				<td>0</td>
			</tr>
		</table>

	</div>
</div>

<br>

<table class="table table-hover">
	<tr>
		<td>#</td>
		<td>Aluno</td>
		<td>Data da Entrega</td>
	</tr>
</table>
