
<div class="row">
	<button class="btn btn-default lg-btn">Alugar Livro</button>
	<br>
	<br>
</div>
<div class="row">
	<div class="col-md-8">
		<div class="row text-center">
			<div class="col-md-4">
				<a href="#/locacao"><img src="images/locacao.png"  class="center-block img-rounded img-responsive">
				<h4>Locação</h4></a>
			</div>
			<div class="col-md-4">
				<a href="#/aluno"><img src="images/alunos.png"  class="center-block img-rounded img-responsive">
				<h4>Alunos</h4></a>
			</div>
			<div class="col-md-4">
				<a href="#/livro"><img src="images/livros.png"  class="center-block img-rounded img-responsive">
				<h4>Livros</h4></a>
			</div>
			<div class="col-md-4">
				<a href="#/livro"><img src="images/editoras.png"  class="center-block img-rounded img-responsive">
				<h4>Editoras</h4></a>
			</div>
			<div class="col-md-4">
				<a href="#/categoria"><img src="images/categorias.png" class="center-block img-rounded img-responsive">
				<h4>Categorias</h4></a>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		
		<table class="table table-hover">
			<tr>
				<td>#</td>
				<td>Quant.</td>
			</tr>
			<tr>
				<td>Locações</td>
				<td>{{main.all.locacoes}}</td>
			</tr>
			<tr>
				<td>Alunos</td>
				<td>{{main.all.alunos}}</td>
			</tr>
			<tr>
				<td>Livros</td>
				<td>{{main.all.livros}}</td>
			</tr>
			<tr>
				<td>Categorias</td>
				<td>{{main.all.categorias}}</td>
			</tr>
			<tr>
				<td>Editoras</td>
				<td>{{main.all.editoras}}</td>
			</tr>
		</table>

	</div>
</div>

<br>

<canvas id="doughnut" class="chart chart-doughnut"
  chart-data="data" chart-labels="labels">
</canvas> 


<table class="table table-hover">
	<tr>
		<td>#</td>
		<td>Aluno</td>
		<td>Data da Entrega</td>
	</tr>
</table>
