
<div class="row text-center">
	<div class="col-md-4">
		<a href="#/livro"><img src="images/livros.png" width="100px" class="center-block img-rounded img-responsive">
		<h3>Livros</h3></a>
	</div>
	<div class="col-md-4">
		<a href="#/livro"><img src="images/livros.png" width="100px" class="center-block img-rounded img-responsive">
		<h3>Editoras</h3></a>
	</div>
	<div class="col-md-4">
		<a href="#/categoria"><img src="images/categorias.png" width="100px" class="center-block img-rounded img-responsive">
		<h3>Categorias</h3></a>
	</div>
</div>