<div class="col-sm-6 col-sm-offset-3">
    <div class="well">
        <h3>Recuperar Senha</h3>
        <form>
            <div class="form-group">
                <input type="email" name="email" class="form-control" placeholder="Email" ng-model="" required>
            </div>
            <p>Informe seu email. Enviaremos um link com os passo para recuperação.</p>
            <button class="btn btn-primary" ng-click="">Enviar</button>
            <a href="#/login">Cancelar</a>
        </form>
    </div>
</div>
